* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.blender {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 500px;
  background-image: url("../img/Blender.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.blender.active {
  background-image: url("../img/Blender.gif");
}
.blender-button {
  margin: 350px auto 0px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
